# Add DB_ROOT_PASSWORD, DB_USER, DB_PASSWORD changin in backend in appsetting.json
DB_ROOT_PASSWORD=
DB_NAME=siuntu_valdymo_posistemis
DB_USER=
DB_PASSWORD=
# changin in backend in appsetting.json
JWT_KEY=change_this_to_a_random_secret_at_least_32_characters_long
JWT_ISSUER=Bakalauras.API
JWT_AUDIENCE=Bakalauras.Client

# Use true with HTTPS. If you publish only over http://IP_ADDRESS, set false.
JWT_COOKIE_SECURE=false

# Must be exactly 32 bytes/chars if your encryption service expects a 256-bit key. also do that in appsetting.json
ENCRYPTION_KEY=change-this-32-char-secret-key!!
# Add google client id also do that in appsetting.json
GOOGLE_CLIENT_ID=
REACT_APP_BUTENT_API_URL=
# Add resend API key and email also do that in appsetting.json
RESEND_API_KEY=
EMAIL_FROM_NAME=TrackSync
EMAIL_FROM_ADDRESS=

# Example: http://123.123.123.123 or https://your-domain.com
PUBLIC_BASE_URL=